{% extends 'cryptocoinersite/basic.html' %}
{% block title %} CryptoCoiners - Home {% endblock title %}
{% block tabhome %} active {% endblock tabhome %}
{% block body %}
{% load static %}



  {% if user.is_authenticated %}
  {% comment %} {% if request.session.Utype == "user" %}
  {% else %}
  <script>location.replace("/")</script>
  {% endif %} {% endcomment %}
  {% else %}
  <script>location.replace("/")</script>
  {% endif %}



{% comment %} <section id="hero" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <div class="row">
            <div class="col-xl-6">
                <h1>CryptoCoiners</h1>


                <h2>YOUR END-TO-END HIRING EXPERIENCE PLATFORM WITH VIDEO INTERVIEW SOFTWARE, CONVERSATIONAL AI, AND
                    ASSESSMENTS.</h2>
            </div>
        </div>
    </div>

</section> {% endcomment %}

<!-- End Hero -->


<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">
{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-5" role="alert">

      {% if message.tags == "success" %}
      <strong>Well done!</strong> {{ message}}
      {% else %}
      <strong>Error!</strong> {{ message}}
      {% endif %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}  
        <section><a class="App_goBackLink__3AM8g" href="/">Back
                To Main</a>
            <section>
            {% if coin %}
                <form class="AddCoinForm_AddCoinForm__13uq-" method="POST">
                        {% csrf_token %}
                    <div class="AddCoinForm_columns__2a0Ki">
                        <div>
                            <h3>Coin info </h3>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="name">Name</label><span
                                    class="AddCoinForm_required__2V4xi">Required</span><input value="{{coin.coin_name}}" placeholder="e.g. Bitcoin"
                                    name="name" required></div>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="symbol">Symbol</label><span
                                    class="AddCoinForm_required__2V4xi">Required</span><input  value="{{coin.coin_symbol}}" placeholder="e.g. BTC"
                                    name="symbol" required></div>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="description">Description</label><span
                                    class="AddCoinForm_required__2V4xi">Required</span><textarea 
                                    placeholder="e.g. Bitcoin is a decentralized digital currency"
                                    name="description" required> {{coin.coin_discription}}</textarea></div>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="marketCap">Market Cap in
                                    USD</label><input value="{{coin.market_cap}}" placeholder="e.g. 150000" name="marketCap" required></div>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="price">Price in USD</label><input value="{{coin.price}}"
                                    placeholder="e.g. 0.006" name="price"    required></div>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="price">Class Type</label><select style="
                                background-color: #232a32;
                                border-radius: .3rem;
                                padding: .4rem 1rem;
                                width: 100%;
                                color: #fff;
                                font-size: 1.4rem;
                                outline: 2px solid #9488f0;
                                height: 4rem;
                            " name="ddl" id="ddl">
                            
                            
                            

                                 <option  value="none">Please select class type.</option> 

                                    <option id="promoted" value="promoted">💎Promoted coins</option>
                                    <option id="todayhot" value="todayhot">🔥 Today's Hot</option>
                                    <option id="new" value="new">💙 New</option>
                                    <option id="alltimebest" value="alltimebest">🥇 All Time Best</option>
                                    <option id="presale" value="presale">🎉 Presale</option>
                            </select></div>

                                      {% comment %} <div class="AddCoinForm_formGroup__1kxWq"><label for="launchDate">Launch date
                                    (YYYY-MM-DD)</label><span class="AddCoinForm_required__2V4xi">Required</span><input value="{{coin.launch_date}}"
                                    placeholder="e.g. 2021-01-28" name="launchDate" type="date" required></div> {% endcomment %}
                            
                        </div>
                        <div>
                            <h3>Links</h3>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="website">Website</label><input value="{{coin.website}}"
                                    placeholder="e.g. www.example.com" name="website"></div>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="telegram">Telegram</label><span
                                    class="AddCoinForm_required__2V4xi">Required</span><input value="{{coin.telegram}}"
                                    placeholder="e.g. https://t.me/bitcoin" name="telegram"></div>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="twitter">Twitter</label><input  value="{{coin.twitter}}"
                                    placeholder="e.g. https://twitter.com/bitcoin" name="twitter"></div>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="discord">Discord</label><input value="{{coin.discord}}"
                                    placeholder="e.g. https://discord.gg/46URkm" name="discord"></div>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="reddit">Reddit</label><input value="{{coin.reddit}}"
                                    placeholder="e.g. https://www.reddit.com/r/bitcoin/" name="reddit"></div>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="logo">Logo</label><span
                                    class="AddCoinForm_required__2V4xi">Required</span><input value="{{coin.logo}}"
                                    placeholder="e.g. https://i.ibb.co/logo.png" name="logo"></div>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="contractAddress">Additional
                                    information, other links and addresses</label><textarea
                                    name="additionalInfo">{{coin.additional_info}}</textarea></div>
                            
                        </div>
                    </div>
                    <div class="AddCoinForm_formButtons__1O5-q"><button type="submit">Update Coin</button></div>
                </form>
                {% else %}
                 <form class="AddCoinForm_AddCoinForm__13uq-" method="POST">
                        {% csrf_token %}
                    <div class="AddCoinForm_columns__2a0Ki">
                        <div>
                            <h3>Coin info</h3>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="name">Name</label><span
                                    class="AddCoinForm_required__2V4xi">Required</span><input placeholder="e.g. Bitcoin"
                                    name="name" required></div>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="symbol">Symbol</label><span
                                    class="AddCoinForm_required__2V4xi">Required</span><input placeholder="e.g. BTC"
                                    name="symbol" required></div>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="description">Description</label><span
                                    class="AddCoinForm_required__2V4xi">Required</span><textarea
                                    placeholder="e.g. Bitcoin is a decentralized digital currency"
                                    name="description" required></textarea></div>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="marketCap">Market Cap in
                                    USD</label><input placeholder="e.g. 150000" name="marketCap" required></div>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="price">Price in USD</label><input
                                    placeholder="e.g. 0.006" name="price"    required></div>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="launchDate">Launch date
                                    (YYYY-MM-DD)</label><span class="AddCoinForm_required__2V4xi">Required</span><input
                                    placeholder="e.g. 2021-01-28" name="launchDate" type="date" required></div>
                            
                        </div>
                        <div>
                            <h3>Links</h3>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="website">Website</label><input
                                    placeholder="e.g. www.example.com" name="website"></div>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="telegram">Telegram</label><span
                                    class="AddCoinForm_required__2V4xi">Required</span><input
                                    placeholder="e.g. https://t.me/bitcoin" name="telegram"></div>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="twitter">Twitter</label><input
                                    placeholder="e.g. https://twitter.com/bitcoin" name="twitter"></div>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="discord">Discord</label><input
                                    placeholder="e.g. https://discord.gg/46URkm" name="discord"></div>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="reddit">Reddit</label><input
                                    placeholder="e.g. https://www.reddit.com/r/bitcoin/" name="reddit"></div>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="logo">Logo</label><span
                                    class="AddCoinForm_required__2V4xi">Required</span><input
                                    placeholder="e.g. https://i.ibb.co/logo.png" name="logo"></div>
                            <div class="AddCoinForm_formGroup__1kxWq"><label for="contractAddress">Additional
                                    information, other links and addresses</label><textarea
                                    name="additionalInfo"></textarea></div>
                            
                        </div>
                    </div>
                    <div class="AddCoinForm_formButtons__1O5-q"><button type="submit">Add Coin</button></div>
                </form>
                {% endif %}
            </section>
        </section>

    </div>
</section>

<!-- End Testimonials Section -->





{% endblock body %}

{% block script %}
<script>
if('{{coin.class_type}}' != 'none'){
        // alert('{{coin.class_type}}');
        // document.getElementById('{{coin.class_type}}').setAttribute('selected');
        document.getElementById('ddl').getElementsByTagName('option')['{{coin.class_type}}'].selected = 'selected'
}
</script>
{% endblock script %}
