{% extends 'cryptocoinersite/basic.html' %}
{% block title %} CryptoCoiners - Home {% endblock title %}
{% block tabhome %} active {% endblock tabhome %}
{% block body %}
{% load static %}

{% comment %} <section id="hero" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <div class="row">
            <div class="col-xl-6">
                <h1>CryptoCoiners</h1>


                <h2>YOUR END-TO-END HIRING EXPERIENCE PLATFORM WITH VIDEO INTERVIEW SOFTWARE, CONVERSATIONAL AI, AND
                    ASSESSMENTS.</h2>
            </div>
        </div>
    </div>

</section> {% endcomment %}

<!-- End Hero -->


<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">
       <section class="MainView_MainView__28hF8">
                    <section class="CoinList_CoinList__3jwUO">
                        <table>
                            <thead>
                                <tr>
                                    <th><span>💎</span>Promoted coins</th>
                                    <th>Symbol</th>
                                    <th>1h</th>
                                    <th>Market Cap</th>
                                    <th>Launch</th>
                                    <th>Upvotes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="CoinList_coinLogo__2FFG-">
                                            <picture>
                                                {% comment %} <source srcset="/3212.webp?v=0" type="image/webp">
                                                <source srcset="/3212.png?v=0" type="image/png"> {% endcomment %}
                                                <img src=""
                                                    alt=""></picture>SHARKCAKE
                                        </div>
                                    </td>
                                    <td>SCAKE</td>
                                    <td class="CoinList_priceComparison__3yaqb">
                                        <div><img src="" alt="">+0.38%</div>
                                    </td>
                                    <td>$414,247</td>
                                    <td>6 days ago</td>
                                    <td><button
                                            class="UpvoteButton_UpvoteButton__2emOP false UpvoteButton_small__3vQ9d"><span>🚀</span>11524</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <div class="MainView_tableTabs__KLJD-"><button class="MainView_active__3R8g3">🔥 Today<span>'s
                                Hot</span></button><button class="">💙 New</button><button class="">🥇 All Time<span>
                                Best</span></button><button class="">🎉 Presale</button>
                        <div class="MainView_tableSearch__2kG1e"><img src=""
                                alt=""><input placeholder="Search.." value=""></div>
                        <div class="MainView_tableVoteText__1UJ7e">Coins can be upvoted every 24h</div>
                    </div>
                    <section class="CoinList_CoinList__3jwUO">
                        <table>
                            <thead>
                                <tr>
                                    <th><span></span>Asset</th>
                                    <th>Symbol</th>
                                    <th>1h</th>
                                    <th>Market Cap</th>
                                    <th>Launch</th>
                                    <th>Upvotes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="CoinList_coinLogo__2FFG-">
                                            {% comment %} <picture>
                                                <source
                                                    srcset="https://imgurupload.org/files/6984BA34-35F9-4E89-A00C-E0E40309155C.jpeg"
                                                    type="image/webp">
                                                <source
                                                    srcset="https://imgurupload.org/files/6984BA34-35F9-4E89-A00C-E0E40309155C.jpeg"
                                                    type="image/png"><img
                                                    src="https://imgurupload.org/files/6984BA34-35F9-4E89-A00C-E0E40309155C.jpeg"
                                                    alt=""></picture> {% endcomment %}
                                                    BABY UNI
                                        </div>
                                    </td>
                                    <td>BABYU</td>
                                    <td class="CoinList_priceComparison__3yaqb">
                                        <div><img src="" alt="">-1.86%</div>
                                    </td>
                                    <td>$2,026</td>
                                    <td>Today</td>
                                    <td><button
                                            class="UpvoteButton_UpvoteButton__2emOP false UpvoteButton_small__3vQ9d"><span>🚀</span>3015</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <button class="CoinList_showMoreButton__38tgO"><img src=""
                                alt="">Show More</button>
                    </section>
                </section>



    </div>
</section>

<!-- End Testimonials Section -->





{% endblock body %}