{% extends 'cryptocoinersite/basic.html' %} {% block title %} CryptoCoiners -
Home {% endblock title %} {% block tabhome %} active {% endblock tabhome %}
{%block body %} {% load static %}
{% load humanize %}

<section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">
        <div style="
    margin-top: 48px;
    margin-left: 40px;
" class=" HeaderMooners_HeaderMooners__2WxYR">
{% for banner in  banners %}       
<a class=" mt-4 HeaderMooners_headerMooner__PhOsr" target="_blank"
                rel="noopener noreferrer nofollow" href="">
                <img style="
                    margin-bottom: 10px;
                border-radius: 20px;" src="/media/{{banner.image}}"
                    alt="mooner"></a>
       {% endfor %}
    </div>

        <section class="MainView_MainView__28hF8">
            <section class="CoinList_CoinList__3jwUO">
                <table>
                    <thead>
                        <tr>
                            <th><span>💎</span>Promoted coins</th>
                            <th>Symbol</th>
                            <th>1h</th>
                            <th>Market Cap</th>
                            <th>Launch</th>
                            <th>Upvotes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for coin in promote %}
                        <tr onclick="myFunction(this)" id="{{coin.id}}">
                            <td>
                                <div class="CoinList_coinLogo__2FFG-">
                                    <picture>
                                        {% comment %}
                                        <source srcset="/3212.webp?v=0" type="image/webp" />
                                        <source srcset="/3212.png?v=0" type="image/png" />
                                        {% endcomment %} <img src="{{coin.image}}" alt="" /></picture>{{coin.coin_name}}
                                </div>
                            </td>
                            <td>{{coin.coin_symbol}}</td>
                            <td class="CoinList_priceComparison__3yaqb">
                                <div>
                                    {% if coin.h1 > '0' %}
                                    <img src="{% static 'img/up.svg' %}" alt="">
                                    {% else %}
                                    <img src="{% static 'img/down.svg' %}" alt="">

                                    {% endif %}
                                    <img src="" alt="" />

                                    {{coin.h1|floatformat:2}}%</div>
                            </td>
                            <td>${{coin.market_cap|intcomma}}</td>
                            <td>{{coin.launch_date}}</td>
                            <td>
                                <div id="btn{{coin.id}}">
                                    <button class="
                      UpvoteButton_UpvoteButton__2emOP
                      false
                      UpvoteButton_small__3vQ9d
                    ">
                                        <span>🚀</span>{{coin.vote}}
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            <div class="MainView_tableTabs__KLJD-">
                <button class="MainView_active__3R8g3 active">
                    <a href="/">🔥 Today<span>'s Hot</span></a></button><button class=""><a href="/new">💙
                        New</a></button><button class="">
                    <a href="/all">🥇 All Time<span> Best</span></a></button><button class="">
                    <a href="/presale">🎉 Presale</a>
                </button>
                <div class="MainView_tableSearch__2kG1e">
                    <img src="" alt="" /><input placeholder="Search.." value="" />
                </div>
                {% comment %} <div class="MainView_tableVoteText__1UJ7e">
                    Coins can be upvoted every 24h
                </div> {% endcomment %}
            </div>


            <section class="CoinList_CoinList__3jwUO">
                <table>
                    <thead>
                        <tr>
                            <th><span></span>Asset</th>
                            <th>Symbol</th>
                            <th>1h</th>
                            <th>Market Cap</th>
                            <th>Launch</th>
                            <th>Upvotes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for coin in coins %}
                        <tr onclick="myFunction(this)" id="{{coin.id}}">
                            <td>

                                <div class="CoinList_coinLogo__2FFG-">
                                    <picture>
                                        {% comment %}
                                        <source srcset="/3212.webp?v=0" type="image/webp" />
                                        <source srcset="/3212.png?v=0" type="image/png" />
                                        {% endcomment %} <img src="{{coin.image}}" alt="" /></picture>{{coin.coin_name}}
                                </div>
                            </td>
                            <td>{{coin.coin_symbol}}</td>
                            <td class="CoinList_priceComparison__3yaqb">
                                <div>

                                    {% if coin.h1 > '0' %}
                                    <img src="{% static 'img/up.svg' %}" alt="">
                                    {% else %}
                                    <img src="{% static 'img/down.svg' %}" alt="">

                                    {% endif %}

                                    {{coin.h1|floatformat:2}}%</div>
                            </td>
                            <td>${{coin.market_cap|intcomma}}</td>
                            <td>{{coin.launch_date}}</td>
                            <td>
                                <div id="btn{{coin.id}}">
                                    <button class="
                    UpvoteButton_UpvoteButton__2emOP
                    false
                    UpvoteButton_small__3vQ9d
                  ">
                                        <span>🚀</span>{{coin.vote}}
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% comment %} <button class="CoinList_showMoreButton__38tgO">
                    <img src="" alt="" />Show More
                </button> {% endcomment %}
                <!-- {% for vote in coinvote  %}
                {{vote.coinid.id}}
                {% endfor %} -->
            </section>
        </section>
    </div>
</section>

{% endblock body %}
{% block script %}
<script>
    function myFunction(x) {
        location.replace("/coin/" + x.id)
    }

    function voter() {

        {% for vote in coinvote %}
        //alert('{{vote.coinid.id}}');
        //alert(document.getElementById('btn{{vote.coinid.id}}'));
        //alert(vote.coinid.id);

        if (document.getElementById('btn{{vote.coinid.id}}')) {
            document.getElementById('btn{{vote.coinid.id}}').innerHTML =
                '<button class="UpvoteButton_UpvoteButton__2emOP UpvoteButton_upvoted__2x7eD UpvoteButton_small__3vQ9d"><span>🚀</span>{{vote.coinid.vote}}</button>'

        } {% endfor %}


    }
    voter();
</script>

{% endblock script %}