{% extends 'cryptocoinersite/basic.html' %}
{% block title %} CryptoCoiners - Promote {% endblock title %}
{% block tabhome %} active {% endblock tabhome %}
{% block body %}
{% load static %}


<section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">
        <section><a class="Promote_goBackLink__2N068" href="/">Back To Main</a>
            <section class="Promote_Promote__1Cjl-">
                <h3 class="Promote_firstHeading__3behV">💎 Need to boost your marketing efforts?</h3>
                <p class="Promote_firstSubHeading__1kwq4">You are in the right place and your ad will be shown to the
                    right people. Driving traffic is our bread and butter and we are constantly growing.</p>
                <h3 class="Promote_secondHeading__2VH2d">Promote your coin to 10k to 25k unique users daily!</h3>
                <div class="Promote_screenshots__2v1rk">
                    <div class="Promote_screenshotsView__39Bu9"><img src="/static/media/30dCF.71aa702d.jpg"
                            alt=""><i>Statistics for 30 days</i></div>
                    <div class="Promote_screenshotsSelect__1mCyc"><img class="Promote_selected__1jzQ_"
                            src="/static/media/30dCF.71aa702d.jpg" alt=""><img class=""
                            src="/static/media/7daysCF.8937fb25.jpg" alt=""><img class=""
                            src="/static/media/GA24h.c7f1f91e.jpg" alt=""></div>
                </div>
                <h2 class="Promote_thirdHeading__1TMy6">💎 Promote packages and prices</h2>
                <div class="Promote_promotePrices__2xCM2">
                    <div>
                        <p>Promoted coins section</p>
                        <ul>
                            <li>1 day promotion - 0.2 BNB</li>
                            <li>3 days promotion - 0.5 BNB</li>
                            <li><b>5 days promotion - 0.7 BNB</b></li>
                            <li>1 week promotion - 0.9 BNB</li>
                        </ul>
                    </div>
                    <div>
                        <p>Rotating banner (600x240px)</p>
                        <ul>
                            <li>1 day promotion - 0.35 BNB</li>
                            <li>3 days promotion - 0.7 BNB</li>
                            <li><b>5 days promotion - 0.9 BNB</b></li>
                            <li>1 week promotion - 1.1 BNB</li>
                        </ul>
                    </div>
                    <div>
                        <p>Wide header banner (1022x115px)</p>
                        <ul>
                            <li><b>1 day promotion - 0.6 BNB</b></li>
                        </ul>
                    </div>
                    <div>
                        <p>Pop-up on all pages (any size)</p>
                        <ul>
                            <li><b>1 day promotion - 1 BNB</b></li>
                        </ul>
                    </div>
                </div>
                <p class="Promote_promoteEmail__2z6nK">For any questions, or to get your coin promoted, feel free to hit
                    us up:<span> contact@coinmooner.com </span>or on Telegram <span><a target="_blank"
                            rel="noopener noreferrer nofollow"
                            href="https://t.me/CoinMoonerCom">@CoinMoonerCom</a></span></p>
            </section>
        </section>

    </div>
</section>







{% endblock body %}